        <header>
            <div id="meta">
            <img
                class="logo"
                alt="Eridius Logo"
                width="128"
                height="128"
                src="/assets/images/logo-128.webp"
                srcset="/assets/images/logo-64.webp 64w,
                        /assets/images/logo-128.webp 128w,
                        /assets/images/logo-256.webp 256w"
                sizes="(max-width: 600px) 64px, 128px"
            />
            <h1 id="introTitle"></h1>
            <h2 id="introDescription"></h2>
            <p>
                <img class="fa" src="/assets/images/circle-check-regular-full.svg" />
                <span id="introTip"></span>
            </p>
            </div>
            <div id="navigation">
                <nav>
                    <a href="/" data-navigo>Home</a>
                </nav>
            </div>
        </header>
        <main>
            <h3>Loading...</h3>
        </main>
        <footer>
            <nav>
                <a href="https://www.paypal.com/ncp/payment/CQPXM7HUPMXRA"
                    >Contribute</a
                >
                <a href="mailto:support@eridi.us">Contact Us</a>
            </nav>
        </footer>
